# Dependencies
node_modules/

# Build output
frontend/dist/

# Uploaded & converted files
backend/uploads/
backend/outputs/

# Environment
backend/.env

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
